.banner {
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 0;
  background-image: url("https://i.pinimg.com/1200x/b7/f5/18/b7f518b2146c2e7854b784b88c03f308.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  .banner-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .address {
      color: white;
      font-size: 20px;
    }
    .brand {
      font-size: 124px;
      color: white;
      font-weight: bold;
      line-height: 1;
      animation: typewriter 4s steps(20) infinite normal both,
        blinkingCursor 400ms steps(20) infinite normal;
    }

    .cursor {
      width: 24em;
      margin: 0 auto;
      border-right: 20px solid rgba(255, 0, 0, 0.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
    }

    @keyframes typewriter {
      0% {
        width: 0;
      }
      70% {
        width: 100%;
      }
      90% {
        width: 100%;
      }
      100% {
        width: 0;
      }
    }

    @keyframes blinkingCursor {
      from {
        border-right-color: rgb(255, 255, 255);
      }
      to {
        border-right-color: transparent;
      }
    }
  }
  .scroll-down {
    width: 100vw;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    height: 100px;
    background-color: transparent;
    display: flex;

    a {
      animation: navigate-translate 1s infinite ease-out;
      margin: auto;
      cursor: pointer;
    }
    @keyframes navigate-translate {
      from {
        transform: translateY(-20px);
        opacity: 0;
      }
      to {
        transform: translateY(25px);
        opacity: 1;
      }
    }
  }
}
